.adc-sidebyside {
	/* overflow-x: auto; */
}
.adc-sidebyside-table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
.adc-sidebyside-table th {
    text-align: center;
    font-weight: normal;
}
.adc-sidebyside-table td {
   position: relative;
}
.adc-sidebyside-table thead tr:last-child th, .adc-sidebyside-table td {
	border-bottom: 1px solid #DDD;
}
.adc-sidebyside-table th, .adc-sidebyside-table td {
    padding: .3em;
    text-align: center;
}
.adc-sidebyside-table th:first-child, .adc-sidebyside-table td:first-child {
    text-align: left;
}
.adc-sidebyside-table input[type=text] {
    width: 100%;
    min-width: auto;
    max-width: 70%;
}
.adc-sidebyside-table input[type=number] {
    width: 100%;
    min-width: auto;
    max-width: 70%;
}
.adc-sidebyside-table label {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}
.adc-sidebyside .imgZoom {
    position: absolute;
    background: url(magnifyingGlass.png) center center no-repeat;
    bottom: 7px;
    width: 22px;
    height: 22px;
    z-index: 2;
    right: 5px;
}
/* simplbox lightbox styling */
#simplbox {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    border: 1px solid #999999;
    ms-touch-action: none;
    touch-action: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    z-index: 10;
}

#simplbox-overlay {
    background-color: #e5e5e5;
    filter: alpha(opacity=60);
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#simplbox-loading {
    position: fixed;
    z-index: 13;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: #cccccc;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

.RLTimePicker {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    border: 0.0625em solid rgba(221,221,221,1);
	border-radius: 0.1875em;
    max-width: 170px;
    margin: 0 auto;
}
.RLTimePicker .show {
    display: block;
}
.RLTimePicker select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: transparent;
    border: none;
    padding: 5px;
    height: 34px;
    width: 55px;
    text-align: center;
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.RLTimePicker select option {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    cursor: pointer;    
}

.RLTimePicker select:focus {
    border-bottom-color: #ace;
    outline: none;
}
.RLTimePicker .imperial {
    width: 45px;
    padding: 5px;

}
.RLTimePicker .timeSeparator {
    width: 5px;
    height: 34px;
    padding: 1px;
    font-size: 100px;
    font-weight: bolder;
}
.RLTimePicker #secsContainer {
    display:inline;
    height: 34px;
}

/* DATE PICKER */
/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
}

.is-inrange .pika-button {
}

.is-startrange .pika-button {
    color: #fff;
    background: #6CB31D;
    box-shadow: none;
    border-radius: 3px;
}

.is-endrange .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: none;
    border-radius: 3px;
}

.is-disabled .pika-button,
.is-outside-current-month .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    color: #fff;
    background: #ff8000;
    box-shadow: none;
    border-radius: 3px;
}

/* styling for abbr */
.pika-table abbr {
    border-bottom: none;
    cursor: help;
}

.RLDatePicker {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 10em;
    margin: 0 auto;
}
/* line 29, ../sass/timePicker.scss */
.RLDatePicker input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* width: 210px;
    padding: 8px 8px 6px; */
    margin: 0;
    /* font-size: 18px; */
    text-align: center;
    /* border: none;
    border-bottom: 2px solid white;
    background: transparent; */
}
/* line 41, ../sass/timePicker.scss */
.RLDatePicker input:focus {
    /* border: 1px solid #dddddd;
    border-bottom-color: #ace; */
    outline: none; 
}