html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  -webkit-tap-highlight-color: transparent;
}
*:focus {
  outline: none;
}
* {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.sidebyside {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebyside input {
  margin: 0;
}

.sidebyside input[type="radio"],
.sidebyside input[type="checkbox"],
.sidebyside .DK,
.sidebyside .askia-response-label {
  cursor: pointer;
}

.sidebyside input[type=number],
.sidebyside .thousand {
    text-align: right;
}
.sidebyside textarea {
	resize: vertical;   
}

.sidebyside .DK {
    padding: 5px 5px 5px 5px;
}

.sidebyside .date .DK {
    padding: 5px 0 0px 0;
}

.sidebyside select {
  	width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.0625em solid rgba(221, 221, 221, 1);
    border-radius: .125em;
    margin: 0;
    background: transparent;
    padding: 5px;
    height: 2em;
    background-image: linear-gradient(45deg, transparent 50%, rgba(221, 221, 221, 1) 50%), linear-gradient(135deg, rgba(221, 221, 221, 1) 50%, transparent 50%);
    background-position: calc(100% - 13px) calc(0.8em), calc(100% - 6px) calc(0.8em);
    background-size: 8px 8px, 8px 8px;
    background-repeat: no-repeat;
    padding-right: 1.5em;
    cursor: pointer;
}
.sidebyside select option:first-child {
	display: none;   
}

.sidebyside select::-ms-expand {
    display: none;
}

.sidebyside label img{
    pointer-events: none;
    display: block;
}

.sidebyside .sum-container {
  display: none;
  text-align: center;
}
.sidebyside input[type=range]::-moz-focus-outer {
    border: 0;
}
.sidebyside input[type=range] {
  -webkit-appearance: none;
  width: 99%;
  min-width: 200px;
  height: 32px;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0px solid white;
}
.sidebyside input[type=range][disabled=disabled]::-webkit-slider-thumb {
    display: none;
}
.sidebyside input[type=range][disabled=disabled]::-ms-thumb {
    display: none;
}
.sidebyside input[type=range][disabled=disabled]::-moz-range-thumb {
    display: none;
    opacity: 0;
}
.sidebyside input[type=range]:not([disabled=disabled])::-webkit-slider-thumb {
    display: block;
}
.sidebyside input[type=range]:not([disabled=disabled])::-ms-thumb {
    display: block;
}
.sidebyside input[type=range]:not([disabled=disabled])::-moz-range-thumb {
    display: block;
    opacity: 1;
}

.sidebyside input[type=range]:focus {
  outline: none;
}

.sidebyside .range {
    position: relative;
    margin-left: 1em;
    width: 100%;
}
@media screen and (min-width:0\0) {
  /* IE9 and IE10 rule sets go here */
  .sidebyside .range {
    width: 200px;
  }
}

.sidebyside .range:after,
.sidebyside .range:before {
    position: absolute;
    top: 2.0em;
}
.sidebyside .range:before {
    left: 0em;
    content: attr(min);
}
.sidebyside .range:after {
    right: 0em;
    content: attr(max);
}
.sidebyside .preBar {
    position: absolute;
    z-index: 1;
    padding: 0px;
    margin: 0px;
    pointer-events: none;
    top: 12px;
}

.sidebyside span[class^="timeSeparator_"] {
  line-height: 2;
}

.sidebyside tr {
  height: 1px;
}

@-moz-document url-prefix() {
  /* Firefox rule sets go here */
  .sidebyside tr {
    height: 100%;
  }
}

@media screen and (min-width:0\0) {
  /* IE9 and IE10 rule sets go here */
  .sidebyside tr {
    height: 100%;
  }
}

@media all and (-ms-high-contrast:none) {
  /* IE11 rule sets go here */
  *::-ms-backdrop, .sidebyside tr {
    height: 1px;
  } /* IE11 */
}

.sidebyside td {
  height: inherit;
}

.sidebyside tbody td:first-child img {
  min-width: 40px;
}

.sidebyside .question-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.sidebyside .closed .question-container {
  height: 100%;
}

.sidebyside .RLTimePicker.question-container {
  display: inline-flex;
}

.sidebyside .RLDatePicker.question-container {
  display: block;
}

.sidebyside .question-label {
  display: none;
  box-sizing: border-box;
  width: 100%;
  padding: .3em;
}

.sidebyside .responses-container,
.sidebyside .header-responses-container {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10 IE11 CSS styles go here */
    .sidebyside .date .responses-container {
  		flex-direction: column;
	}
}

.sidebyside .closed .responses-container,
.sidebyside .header-responses-container {
  align-items: stretch;
}

.sidebyside .date .responses-container {
  flex-wrap: wrap;
}

.sidebyside .response-container,
.sidebyside .header-response-container {
  display: flex;
  flex: 1;
  padding: .3em;
  box-sizing: border-box;
  cursor: pointer;
}
.sidebyside .header-response-container {
  cursor: auto;
}

.sidebyside .response-container,
.sidebyside .header-response-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  text-align: -webkit-center;
}

.sidebyside .response-container label {
  box-sizing: border-box;
  cursor: pointer;
}

.sidebyside .closed .response-container .content,
.sidebyside .header-response-container label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebyside .closed .response-container .content {
  padding: .3em;
}

.sidebyside .response-container .caption {
  /* word-break: break-all; */
}

.sidebyside .sum-container {
  padding: .3em;
}

.sidebyside .resultSum {
  display: inline-block;
}

.sidebyside .RLDatePicker input,
.sidebyside .RLTimePicker select,
.sidebyside .RLTimePicker option {
  cursor: pointer;
}

.sidebyside .RLTimePicker [class^="timeSeparator"] {
  line-height: 2;
}

.sidebyside th {
  text-align: center;
  font-weight: normal;
}

.sidebyside td {
  position: relative;
}

.sidebyside .RLDatePicker tbody td,
.sidebyside .RLDatePicker thead th {
  border-top: 0px solid transparent !important;
}

.sidebyside tbody tr:hover .RLDatePicker td.is-empty {
  background-color: transparent !important;
}

.sidebyside th,
.sidebyside td {
  padding: .3em;
  text-align: center;
}

.sidebyside tbody tr > td {
  padding: 0;
}

.sidebyside tbody tr > td:not(.closed) .responses-container {
  padding: .3em;
}

.sidebyside th:first-child,
.sidebyside td:first-child {
  padding: .3em;
}

.sidebyside input[type=text],
.sidebyside input[type=email],
.sidebyside input[type=url] {
  width: 100%;
  min-width: auto;
  max-width: 85%;
  -webkit-appearance: none;
}

.sidebyside .RLDatePicker input[type=text] {
  min-width: 105px;
}

.sidebyside input[type=number] {
  width: 100%;
  min-width: 10%;
  max-width: 8em;
  -webkit-appearance: none;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
    .sidebyside input[type=number] {
  		max-width: 5em;
	}
    .sidebyside input[type=text] {
        max-width: 8em;
    }
}

.sidebyside .imgZoom {
  position: absolute;
  background: url(magnifyingGlass.png) center center no-repeat;
  bottom: 7px;
  width: 22px;
  height: 22px;
  z-index: 2;
  right: 5px;
}

.sidebyside .imgZoom:hover {
  border: 1px solid transparent;
}

.sidebyside .paddingZoom {
  padding-right: 25px !important;
}

/* simplbox lightbox styling */
#simplbox {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  border: 1px solid #999999;
  ms-touch-action: none;
  touch-action: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  z-index: 10;
}

#simplbox-overlay {
  background-color: #e5e5e5;
  filter: alpha(opacity=60);
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#simplbox-loading {
  position: fixed;
  z-index: 13;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #cccccc;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}


/* TIME PICKER */

.sidebyside .RLTimePicker {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-flex;
  border: 0.0625em solid rgba(221, 221, 221, 1);
  border-radius: 0.1875em;
  margin-bottom: .3em;
}

.sidebyside .RLTimePicker .show {
  display: block;
}

.sidebyside .RLTimePicker select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  background: transparent;
  border: none;
  padding: 5px;
  height: 34px;
  width: auto;
  text-align: center;
  text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.sidebyside select option {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  cursor: pointer;
}
.sidebyside .RLTimePicker select option {
  text-align: center;
}

.sidebyside .RLTimePicker select:focus {
  border-bottom-color: #ace;
  outline: none;
}

.sidebyside .RLTimePicker .imperial {
  width: 45px;
  padding: 5px;
  line-height: 1.5;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.sidebyside .RLTimePicker .timeSeparator {
  width: 5px;
  height: 34px;
  padding: 1px;
  font-size: 100px;
  font-weight: bolder;
}

.sidebyside .RLTimePicker .secsContainer {
  display: inherit;
  height: 34px;
}

.sidebyside .header-closed {
    padding: 0 !important;
}


/* DATE PICKER */


/*!
* Pikaday
* Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
*/

.pika-single {
  z-index: 9999;
  display: inline-block;
  position: relative;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/

.pika-single:before,
.pika-single:after {
  content: " ";
  display: table;
}

.pika-single:after {
  clear: both
}

.pika-single {
  *zoom: 1
}

.pika-single.is-hidden {
  display: none;
}

.pika-single.is-bound {
  position: absolute;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
}

.pika-lendar {
  float: left;
  width: 240px;
  margin: 8px;
}

.pika-title {
  position: relative;
  text-align: center;
}

.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  background-color: #fff;
}

.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0;
}

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  /* hide text using text-indent trick, using width value (it's enough) */
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  opacity: .5;
  *position: absolute;
  *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
  opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
  *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
  *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: .2;
}

.pika-select {
  display: inline-block;
  *display: inline;
}

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.pika-table th,
.pika-table td {
  width: 14.285714285714286%;
  padding: 0;
}

.pika-table th {
  color: #999;
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
}

.pika-button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  color: #666;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  background: #f5f5f5;
}

.pika-week {
  font-size: 11px;
  color: #999;
}

.is-today .pika-button {
  font-weight: bold;
}

.is-selected .pika-button {
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
}

.is-inrange .pika-button {}

.is-startrange .pika-button {
  color: #fff;
  background: #6CB31D;
  box-shadow: none;
  border-radius: 3px;
}

.is-endrange .pika-button {
  color: #fff;
  background: #33aaff;
  box-shadow: none;
  border-radius: 3px;
}

.is-disabled .pika-button,
.is-outside-current-month .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: .3;
}

.pika-button:hover {
  color: #fff;
  background: #ff8000;
  box-shadow: none;
  border-radius: 3px;
}


/* styling for abbr */

.pika-table abbr {
  border-bottom: none;
  cursor: help;
}

.sidebyside .RLDatePicker {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 10em;
  padding-bottom: .3em;
}


/* line 29, ../sass/timePicker.scss */

.sidebyside .RLDatePicker input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 9.5em;
  /* width: 210px;
  padding: 8px 8px 6px; */
  margin: 0;
  /* font-size: 18px; */
  text-align: center;
  /* border: none;
  border-bottom: 2px solid white;
  background: transparent; */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}


/* line 41, ../sass/timePicker.scss */

.sidebyside .RLDatePicker input:focus {
  /* border: 1px solid #dddddd;
  border-bottom-color: #ace; */
  outline: none;
}

.sidebyside .RLDatePicker input[type=text] {
  max-width: 90%;
}


/**
* This theme is an example to show how you can create your own.
*/

.pika-single.dark-theme {
  color: #fff;
  background: #333;
  border: 1px solid #666;
  border-bottom-color: #999;
}

.dark-theme .pika-label {
  background-color: #333;
}

.dark-theme .pika-prev,
.dark-theme .is-rtl .pika-next {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAQ0lEQVR4Ae3KIQ4AIBTD0N0/IeHGI3UIRA3ut/Zl+ltXc5++htVAmIAwAWECwgSEKbgthEoIlRAqIVRCqINQB9nDgQd7ktwFo6UpWQAAAABJRU5ErkJggg==');
}

.dark-theme .pika-next,
.dark-theme .is-rtl .pika-prev {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAP0lEQVQ4y+3TMQoAMAgEwfwfAvvjTZ1uGzuvHhBPPGczEG+FRqqRaqQaqUaqkX6QBmmjacvQ6qEVTjsh+xizebvlaWptGXZAAAAAAElFTkSuQmCC');
}

.dark-theme .pika-table th {
  color: #999;
}

.dark-theme .pika-button {
  color: #fff;
  background: #222;
}

.dark-theme .pika-week {
  color: #999;
}

.dark-theme .is-today .pika-button {
  color: #33aaff;
}

.dark-theme .is-selected .pika-button {
  color: #fff;
}

.dark-theme .is-disabled .pika-button {
  color: #999;
  opacity: .3;
}

.dark-theme .pika-button:hover {
  color: #fff !important;
  background: #ff8000 !important;
}


/**
* This theme is an example to show how you can add triangles to the dropdowns.
*/

.triangle-theme .pika-label:after {
  content: " \25be";
}