<?xml version="1.0" encoding="utf-8"?>
<control  xmlns="http://www.askia.com/2.1.0/ADCSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.askia.com/2.1.0/ADCSchema https://raw.githubusercontent.com/AskiaADX/ADXSchema/2.1.0/ADCSchema.xsd"
          version="2.1.0"
          askiaCompat="5.4.2">
  <info>
    <name>SideBySide</name>
    <guid>c4acbd4e-3246-457c-9f9a-3a2dc9871dcc</guid>
    <version>2.0.1</version>
    <date>2017-05-26</date>
    <description><![CDATA[Side by side vertical table]]></description>
    <company>Askia</company>
    <author><![CDATA[Clément Salomon <clement@askia.com>, Jérôme Duparc <jeromed@askia.com>]]></author>
    <site>http://www.askia.com</site>
    <helpURL></helpURL>
    <categories>
      <category>General</category>
    </categories>
    <constraints>
      <constraint on="questions" chapter="false" single="true" multiple="true" numeric="true" date="false" open="true" requireParentLoop="true" />
      <constraint on="controls" responseblock="true" label="false" textbox="false" checkbox="false" listbox="false" radiobutton="false" />
      <constraint on="responses" max="*" min="*" />
    </constraints>
  </info>
  <outputs defaultOutput="default">
    <output id="default">
      <description><![CDATA[Default output]]></description>
      <content fileName="SideBySideTable.css" type="css" mode="static" position="head" />
      <content fileName="default.css" type="css" mode="dynamic" position="head" />
      <content fileName="moment.min.js" type="javascript" mode="static" position="head" />
      <content fileName="pikaday.js" type="javascript" mode="static" position="head" />
      <content fileName="default.html" type="html" mode="dynamic" position="placeholder" />
      <content fileName="magnifyingGlass.png" type="image" mode="static" position="none" />
      <content fileName="simplbox.js" type="javascript" mode="static" position="foot" />
      <content fileName="time_picker.js" type="javascript" mode="static" position="foot" />
      <content fileName="date_picker.js" type="javascript" mode="static" position="foot" />
      <content fileName="SideBySideTable.js" type="javascript" mode="static" position="foot" />
      <content fileName="Initializer.js" type="javascript" mode="dynamic" position="foot" />
    </output>
  </outputs>
  <properties>
    <category id="general" name="General">
      <property xsi:type="standardProperty" id="controlWidth" name="Control Max Width" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The max width of the control]]></description>
        <value><![CDATA[100%]]></value>
      </property>
      <property xsi:type="standardProperty" id="controlAlign" name="Control Alignment" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The alignment of the control]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="firstColumnWidth" name="First Column Width" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The size in percentage of the first column of the table]]></description>
        <value><![CDATA[20]]></value>
        <options>
          <option value="5" text="5%" />
          <option value="10" text="10%" />
          <option value="15" text="15%" />
          <option value="20" text="20%" />
          <option value="25" text="25%" />
          <option value="30" text="30%" />
          <option value="35" text="35%" />
          <option value="40" text="40%" />
          <option value="45" text="45%" />
          <option value="50" text="50%" />
          <option value="55" text="55%" />
          <option value="60" text="60%" />
          <option value="65" text="65%" />
          <option value="70" text="70%" />
          <option value="75" text="75%" />
          <option value="80" text="80%" />
          <option value="85" text="85%" />
          <option value="90" text="90%" />
          <option value="95" text="95%" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showTitle" name="Show Title" type="string" require="false" visible="true">
        <description><![CDATA[Sets if the caption of the question is written in the header of the table or not]]></description>
        <value></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="respOnHeader" name="Show Response on Header" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="sameSize" name="Same width for columns" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Use the same width for all columns]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="On" />
          <option value="0" text="Off" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="hightlightRowOnHover" name="Hightlight Row on Hover" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Hightlight Row on Hover]]></description>
        <value><![CDATA[no]]></value>
        <options>
          <option value="yes" text="Yes" />
          <option value="no" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="stepByStep" name="Step by Step table" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="headerFixed" name="Header Always visible" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="iterationColumn" name="Iteration display" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[2]]></value>
        <options>
          <option value="0" text="Just text" />
          <option value="1" text="Just image" />
          <option value="2" text="Image and text" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="imgZoomRow" name="Iteration Image Zoom" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Iteration Image Zoom]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responsesColumn" name="Responses display" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[2]]></value>
        <options>
          <option value="0" text="Just text" />
          <option value="1" text="Just image" />
          <option value="2" text="Image and text" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="imgZoomColumn" name="Responses Image Zoom" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Responses Image Zoom]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
    </category>
    <category id="numeric" name="Numeric">
      <property xsi:type="standardProperty" id="showTotal" name="Show Total" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value></value>
        <options>
          <option value="0" text="No" />
          <option value="1" text="Yes" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="totalCaption" name="Total Caption" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="displayTotalCaption" name="Total Caption Position" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value></value>
        <options>
          <option value="0" text="Left" />
          <option value="1" text="Each Column" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="maxLimReachedColor" name="Max Limit Reached Color" type="color" require="false" visible="true" colorFormat="rgb">
        <description><![CDATA[]]></description>
        <value><![CDATA[141,198,63]]></value>
      </property>
      <property xsi:type="standardProperty" id="maxLimitExceededColor" name="Max Limit Exceeded Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[]]></description>
        <value><![CDATA[{%= Theme.ErrorColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="blockLimit" name="Block on limit" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value></value>
        <options>
          <option value="0" text="No" />
          <option value="1" text="Yes" />
        </options>
      </property>
    </category>
    <category id="timePicker" name="Time Picker">
      <property xsi:type="standardProperty" id="imperial" name="Time format" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Option to choose 24 hour clock or 12 hour clock]]></description>
        <value><![CDATA[false]]></value>
        <options>
          <option value="false" text="24 Hour clock" />
          <option value="true" text="12 Hour clock" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showSeconds" name="Show Seconds" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Option to show/hide seconds counter]]></description>
        <value><![CDATA[false]]></value>
        <options>
          <option value="true" text="Show" />
          <option value="false" text="Hide" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="stepMinutes" name="Minutes Intervals" type="number" mode="dynamic" require="false" visible="true" min="1" max="59">
        <description><![CDATA[Step intervals for minute counter]]></description>
        <value><![CDATA[1]]></value>
      </property>
      <property xsi:type="standardProperty" id="stepSeconds" name="Seconds Intervals" type="number" mode="dynamic" require="false" visible="true" min="1" max="59">
        <description><![CDATA[Step intervals for seconds counter]]></description>
        <value><![CDATA[1]]></value>
      </property>
    </category>
    <category id="Date" name="Date options">
      <property xsi:type="standardProperty" id="theme" name="Theme" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Select the theme of the calendar]]></description>
        <value><![CDATA[light-theme]]></value>
        <options>
          <option value="light-theme" text="Light theme" />
          <option value="dark-theme" text="Dark theme" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="defaultDate" name="Default date" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[The initial date to view when first opened
Format: MM/DD/YYYY]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="bound" name="Show datepicker" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Hide datepicker by default. Hide datepicker until it is in focus.]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Hide" />
          <option value="0" text="Show" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="position" name="Position" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[preferred position of the datepicker relative to the form field, e.g.: top right, bottom right Note: automatic adjustment may occur to avoid datepicker from being displayed outside the viewport.]]></description>
        <value><![CDATA[bottom left]]></value>
        <options>
          <option value="bottom left" text="bottom left" />
          <option value="top left" text="top left" />
          <option value="top right" text="top right" />
          <option value="bottom right" text="bottom right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="setDefaultDate" name="Set default date" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Make the "Default Date" the initial selected value]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="0" text="No" />
          <option value="1" text="Yes" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="firstDay" name="First Day of the month" type="number" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Select the first day of the month:
0 = Sunday, 1 = Monday etc.]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="0" text="Sunday" />
          <option value="1" text="Monday" />
          <option value="2" text="Tuesday" />
          <option value="3" text="Wednesday" />
          <option value="4" text="Thursday" />
          <option value="5" text="Friday" />
          <option value="6" text="Saturday" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="disableWeekends" name="Disable Weekends" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[Option to disable the selection of weekends]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Disallow Weekends" />
          <option value="0" text="Allow Weekends" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showWeekNumber" name="Show Week Number" type="string" require="false" visible="true">
        <description><![CDATA[Show the ISO week number at the head of the row (default false)]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Show" />
          <option value="0" text="Hide" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showMonthAfterYear" name="Month After Year" type="string" require="false" visible="true">
        <description><![CDATA[Render the month after year in the title (default false)]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Month last (yyyy mm)" />
          <option value="0" text="Month first (mm yyyy)" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="numberOfMonths" name="Number of Months" type="number" mode="dynamic" require="false" visible="true" min="1" max="3">
        <description><![CDATA[Number of months visible at a time]]></description>
        <value><![CDATA[1]]></value>
      </property>
      <property xsi:type="standardProperty" id="mainCalendar" name="Main Calendar" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[When "Number of Months" is used, this will help you to choose where the main calendar will be (default left, can be set to right). Only used for the first display or when a selected date is not already visible]]></description>
        <value><![CDATA[left]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="right" text="Right" />
        </options>
      </property>
    </category>
    <category id="column1" name="Column 1">
      <property xsi:type="standardProperty" id="questionCol1" name="Question" type="question" require="false" visible="true">
        <description><![CDATA[Set the question for column 1]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="colAsComboBox1" name="Use combo box" type="string" require="false" visible="true">
        <description><![CDATA[If the question in this column is a closed question sets if it's a combo box or a radio button]]></description>
        <value></value>
        <options>
          <option value="0" text="Radio Button" />
          <option value="1" text="ComboBox" />
          <option value="2" text="ComboBox as ranking" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="firstOptionCombo1" name="Text of the first option" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[The text of the first option in the combo box]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="numBoxPrefix1" name="Numerical Box Prefix" type="string" require="false" visible="true">
        <description><![CDATA[Prefix for numerical box in this column only]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="numBoxSuffix1" name="Numerical Box Suffix" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="maxNumLimit1" name="Maximal Numeric Limit" type="number" require="false" visible="true" decimal="0">
        <description><![CDATA[]]></description>
        <value></value>
      </property>
    </category>
    <category id="column2" name="Column 2">
      <property xsi:type="standardProperty" id="questionCol2" name="Question" type="question" require="false" visible="true">
        <description><![CDATA[Set the question for column 2]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="colAsComboBox2" name="Use combo box" type="string" require="false" visible="true">
        <description><![CDATA[If the question in this column is a closed question sets if it's a combo box or a radio button]]></description>
        <value></value>
        <options>
          <option value="0" text="Radio Button" />
          <option value="1" text="ComboBox" />
          <option value="2" text="ComboBox as ranking" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="firstOptionCombo2" name="Text of the first option" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[The text of the first option in the combo box]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="numBoxPrefix2" name="Numerical Box Prefix" type="string" require="false" visible="true">
        <description><![CDATA[Prefix for numerical box in this column only]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="numBoxSuffix2" name="Numerical Box Suffix" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="maxNumLimit2" name="Maximal Numeric Limit" type="number" require="false" visible="true" decimal="0">
        <description><![CDATA[]]></description>
        <value></value>
      </property>
    </category>
    <category id="column3" name="Column 3">
      <property xsi:type="standardProperty" id="questionCol3" name="Question" type="question" require="false" visible="true">
        <description><![CDATA[Set the question for column 3]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="colAsComboBox3" name="Use combo box" type="string" require="false" visible="true">
        <description><![CDATA[If the question in this column is a closed question sets if it's a combo box or a radio button]]></description>
        <value></value>
        <options>
          <option value="0" text="Radio Button" />
          <option value="1" text="ComboBox" />
          <option value="2" text="ComboBox as ranking" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="firstOptionCombo3" name="Text of the first option" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[The text of the first option in the combo box]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="numBoxPrefix3" name="Numerical Box Prefix" type="string" require="false" visible="true">
        <description><![CDATA[Prefix for numerical box in this column only]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="numBoxSuffix3" name="Numerical Box Suffix" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="maxNumLimit3" name="Maximal Numeric Limit" type="number" require="false" visible="true" decimal="0">
        <description><![CDATA[]]></description>
        <value></value>
      </property>
    </category>
    <category id="column4" name="Column 4">
      <property xsi:type="standardProperty" id="questionCol4" name="Question" type="question" require="false" visible="true">
        <description><![CDATA[Set the question for column 4]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="colAsComboBox4" name="Use combo box" type="string" require="false" visible="true">
        <description><![CDATA[If the question in this column is a closed question sets if it's a combo box or a radio button]]></description>
        <value></value>
        <options>
          <option value="0" text="Radio Button" />
          <option value="1" text="ComboBox" />
          <option value="2" text="ComboBox as ranking" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="firstOptionCombo4" name="Text of the first option" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[The text of the first option in the combo box]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="numBoxPrefix4" name="Numerical Box Prefix" type="string" require="false" visible="true">
        <description><![CDATA[Prefix for numerical box in this column only]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="numBoxSuffix4" name="Numerical Box Suffix" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="maxNumLimit4" name="Maximal Numeric Limit" type="number" require="false" visible="true" decimal="0">
        <description><![CDATA[]]></description>
        <value></value>
      </property>
    </category>
    <category id="column5" name="Column 5">
      <property xsi:type="standardProperty" id="questionCol5" name="Question" type="question" require="false" visible="true">
        <description><![CDATA[Set the question for column 5]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="colAsComboBox5" name="Use combo box" type="string" require="false" visible="true">
        <description><![CDATA[If the question in this column is a closed question sets if it's a combo box or a radio button]]></description>
        <value></value>
        <options>
          <option value="0" text="Radio Button" />
          <option value="1" text="ComboBox" />
          <option value="2" text="ComboBox as ranking" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="firstOptionCombo5" name="Text of the first option" type="string" mode="dynamic" require="false" visible="true">
        <description><![CDATA[The text of the first option in the combo box]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="numBoxPrefix5" name="Numerical Box Prefix" type="string" require="false" visible="true">
        <description><![CDATA[Prefix for numerical box in this column only]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="numBoxSuffix5" name="Numerical Box Suffix" type="string" require="false" visible="true">
        <description><![CDATA[]]></description>
        <value></value>
      </property>
      <property xsi:type="standardProperty" id="maxNumLimit5" name="Maximal Numeric Limit" type="number" require="false" visible="true" decimal="0">
        <description><![CDATA[]]></description>
        <value></value>
      </property>
    </category>
  </properties>
</control>